[submodule "arpy"]
	path = arpy
	url = https://github.com/kasmsdk/arpy
[submodule "emanator"]
	path = emanator
	url = https://github.com/kasmsdk/emanator
[submodule "bangaz"]
	path = bangaz
	url = https://github.com/kasmsdk/bangaz
[submodule "triggaz"]
	path = triggaz
	url = https://github.com/kasmsdk/triggaz
[submodule "belfry"]
	path = belfry
	url = https://github.com/kasmsdk/belfry
[submodule "chimez"]
	path = chimez
	url = https://github.com/kasmsdk/chimez
