:root {
  font-family: 'Varela', Arial, Helvetica, sans-serif;
  letter-spacing: 0.06em; /* Slightly increased for clarity */
  font-size: 20px; /* Increased base font size */

  background-image: url('./assets/textures/metallic.png');
  background-repeat: repeat;
  background-attachment: scroll; /* Ensure background moves with content */

  color-scheme: light dark;
  color: var(--sandstone-base, #fff600);
  background-color: var(--sandstone-surface-2, black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: contain;
}
